
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;500;700;900&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
.title{
  font-family: 'Roboto Slab', serif;
}

body{
  background-color: rgb(212, 212, 212);
}
.movieBody{
  margin-top: 3rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}



.movies{
 border-radius: 5rem;
 margin-top: 2rem;
  
}

.showMoreButton{
  margin-top: 4rem;
}

.footer{
  height: 3rem;
  padding: 2rem;
  color: white;
  background-color: black;
  margin-top: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 300;
}